# Ignore everything
*

# .. Except subdirectories...
!*/

# .. And except for these files...
!.gitignore
!*.java
!*.png
!*.txt
!*.jar

# .. But ignore those files types in the out subdirectories.
/*out
#out/*
#/Multiplayer Game Server/out/
#/Multiplayer Game Client/out/
